body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
}


header {
    background-color: #111;
    padding: 40px;
    border-bottom: 4px solid #b87333;
}


header h1 {
    font-size: 50px;
    color: #d4af37;
}


nav {
    background-color: #333;
    padding: 15px;
}


nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
}


button {
    padding: 15px 30px;
    background-color: #b87333;
    color: white;
    border: none;
    border-radius: 8px;
}


.cars {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.car-card {
    background-color: #333;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
}


footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #111;
}

.hero {
    padding: 80px 20px;
    background-color: #252525;
}

.hero img {
    width: 90%;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px black;
}

.cars {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.car-card button {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.car-card {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
    text-align: center;
}

.car-card h3 {
    color: #003b5c;
}

.car-card p {
    color: #333;
}

.car-page img {
    width: 100%;
    max-width: 1500px;
    border-radius: 15px;
}

.price-box {
    background-color: #f4f4f4;
    width: 60%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px gray;
}

.price-box h2 {
    color: #003b5c;
}

.price-box p {
    color: #003b5c
}

.price-box strong {
    font-size: 22px;
}

.condition h3 {
    color: #FFFFFF;
}

 .condition p {
    color: #FFFFFF;
}

.location h3 {
    color:#FFFFFF;
}

.location p {
   color: #FFFFFF;
}

.check h3 {
    color: #FFFFFF;
}

.check p {
   color: #FFFFFF;
}


.timeline h3 {
    color: #FFFFFF;
}

 .timeline p {
   color: #FFFFFF;
}

#garage-cars {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


#garage-cars .car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


#garage-cars button {
    background-color: #b30000;
}