/* ===== MAIN PAGE ===== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
}


/* ===== HEADER ===== */

header {
    background-color: #111;
    padding: 40px;
    border-bottom: 4px solid #b87333;
}

header h1 {
    font-size: 50px;
    color: #d4af37;
    margin: 0;
}

header p {
    font-size: 18px;
}


/* ===== NAVIGATION ===== */

nav {
    background-color: #333;
    padding: 15px;
}

nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #d4af37;
}


/* ===== BUTTONS ===== */

button {
    padding: 15px 30px;
    background-color: #b87333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #d4af37;
    color: black;
}


/* ===== HERO SECTION ===== */

.hero {
    padding: 80px 20px;
    background-color: #252525;
}

.hero img {
    width: 90%;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px black;
}


/* ===== CAR GRID ===== */

.cars {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}


/* ===== CAR CARDS ===== */

.car-card {
    background-color: #333;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px black;
    text-align: center;
    transition: transform 0.3s;
}

.car-card:hover {
    transform: translateY(-10px);
}


.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.car-card h3 {
    color: #d4af37;
}


.car-card p {
    color: white;
}


/* ===== FAVORITE BUTTON ===== */

.car-card button {
    background-color: #b87333;
    color: white;
    padding: 10px 20px;
}

.car-card button:hover {
    background-color: #d4af37;
    color: black;
}


/* ===== INDIVIDUAL CAR PAGE ===== */

.car-page img {
    width: 100%;
    max-width: 1500px;
    border-radius: 15px;
}


/* ===== PRICE BOX ===== */

.price-box {
    background-color: #333;
    width: 60%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px black;
}

.price-box h2 {
    color: #d4af37;
}

.price-box p {
    color: white;
}

.price-box strong {
    font-size: 22px;
}


/* ===== INFO SECTIONS ===== */

.condition h3,
.location h3,
.check h3,
.timeline h3 {
    color: #d4af37;
}


.condition p,
.location p,
.check p,
.timeline p {
    color: white;
}


/* ===== GARAGE PAGE ===== */

#garage-cars {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}


#garage-cars .car-card {
    background-color: #333;
}


#garage-cars .car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


/* ===== FOOTER ===== */

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #111;
    border-top: 4px solid #b87333;
}
